#hero,header,#footer{
    background-color: #001233;
    
}
.hero-font {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 55px;
  }
  .hero-font-1 {
    font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
  }
  .navbar{
    padding-top: 58px;
  }
  .hero-font-2 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
  }
  .hero-font-3 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal; 
  }
  .hero-font-4 {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal; 
  }
  .hero-font-5 {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;

  }
  .icon-bg {
    background-color: #001233;
    border-radius: 50%;
    width: 32px;  /* Adjust size */
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* On screens that are 1440px or less, set the background color to blue */
      @media screen and (max-width: 1440px) {
        /* Navbar */
        .navbar .logo-img{
          width:300px;
          height:auto;
        }
        .navbar{
          padding-top:0;
        }
        /* Hero Section */
        .hero .button-1{
          margin-top:75px;
          width: 289px;
        }
       
      
        /* Financial section */
          .financial .financial-img{
            width:630px;
            height:330px;
            border-radius:20px;
          }
          .financial .card{
            background-color:#EEF2F3;
            border:none;
            border-radius:30px;
            height:330px;
            width:380px;
            margin-right:80px;
           
          }
          .financial .card-1{
            background-color:#EEF2F3;
            border:none;
            border-radius:30px;
            height:340px;
            width:350px;
            
          }
          .financial .financial2-img{
            border-radius:20px;
            height:340px;
            width:635px;
          }
          /* Serve section */
          .serve{
            padding-bottom: 30px;
          }
          .serve .serve-font{
            margin-top:10px;
          }
          .serve .serve-img{
            width:379px;
            height:289px;
            border-radius:30px;
            opacity:0.9;
            position:relative;
           
          }
            /* background */
            .serve .serve-img-back{
            position: absolute;
            top: 0;
            left: 12px;
            width:390px;
            height:285px;
            background: rgba(0, 0, 0, 0.4); 
            border-radius: 30px;
          }
          .serve .serve-1-img{
            width: 570px;
            height:290px;
            border-radius:30px;
            opacity:0.9;
          }
          .serve #serve-class{
            margin-left: 50px;
          }
          .serve .back-first{
            position: absolute;
            top: 0;
            bottom:0;
            right:10px;
            left:10px;
            width:100%;
            height:auto;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 30px;
          }
          .serve .back{
            position: absolute; 
            top: 0;
            left: 0;
            width:570px;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 30px;
          }
          .serve #font{
            padding-left: 80px;
          }

          
          /* Customer section */
          .customer .card-2{
            border:none;
            background-color:#EEF2F3;
            border-radius:25px;
            height:165px;
            padding-left: 20px;
            padding-top: 30px;
          }
          .customer .card-3{
            border:none;
            background-color:#EEF2F3;
            border-radius:25px;
            height:160px;
            padding-left: 20px;
            padding-top: 30px;
          }
          /* Frequenly section */
          .frequenly .display-6{
            color: #001233;
            text-align-last:center;
            font-size:28px;
          }
    
      }


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
      /* Hero Section */
      .hero .hero-font{
        font-size: 20px;
      }
      .hero{
        padding-bottom: 20px;
        padding-left: 20px;
      }
      .hero #hero-img{
        padding-top:10px;
        padding-bottom: 0;
      }
      .hero .button-1{
        margin-top:15px;
      }
     
      /* Navbar */
      .navbar .logo-img{
              width: 200px;
            
      }
      /* About section */
      .about .hero-font{
        font-size: 20px;
      }
      .about{
          padding-left: 10px;
      }
      .about .content{
        margin-top:0;
      }
      .about .d-flex {
        justify-content: left; /* Center icon and text */
      }
     
    
      /* Facebook section */
      .facebook .hero-font-2{
        font-size: 20px;
      }

      /* Financial section */
      .financial .hero-font-2{
          font-size: 20px;
      }
      .financial .text{
        font-size: 15px;
        text-align-last: left;
      }
      .financial .financial-img{
        width:100%;
        height:auto;
        border-radius:20px;
      }
      .financial .card{
        background-color:#EEF2F3;
        border:none;
        border-radius:30px;
        width:100%;
        height:auto;
      }
      .financial .card-1{
        background-color:#EEF2F3;
        border:none;
        border-radius:30px;
        width:100%;
        height:auto;
      }
      .financial .financial2-img{
        width:100%;
        height:auto;
        border-radius:20px;
      }

      /* Serve section */
      .serve .text{
        font-size:20px;
      }

      .serve .serve-img{
        width:100%;
        height:auto;
        border-radius:30px;
        opacity:0.9;
        position:relative;
      }
      .serve .serve-1-img{
        width:100%;
        height:auto;
        border-radius:30px;
        opacity:0.9;
      }
      .serve #serve-class{
        margin-left: 0px;
      }
      .serve .back{
        width:100%;
      }
      .serve .back-first{
        position: absolute;
        top: 0;
        bottom:0;
        right:10px;
        left:10px;
        width:354px;
        height:auto;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 30px;
      }
      .serve #font{
        padding-left: 0px;
      }
     
      /* Customer Section */
      .customer .hero-font{
        font-size: 20px;
      }
      .customer .button{
        justify-content: center;
      }
      .customer .card-2{
        border:none;
        background-color:#EEF2F3;
        border-radius:25px;
        height:255px;
        padding-left: 20px;
        padding-top: 35px;
      }
      .customer .card-3{
        border:none;
        background-color:#EEF2F3;
        border-radius:25px;
        height:255px;
        padding-left: 20px;
        padding-top: 35px;
      }
      /* Frequenly Section */
      .frequenly .hero-font-2{
        font-size: 20px;
        margin-left: 10px;
      }
      .frequenly .display-6{
        color: #001233;
        text-align-last:center;
        font-size:15px;
        margin-left: 15px;
      }
      .frequenly .frequenly-accordian{
        margin-top: 20px;
      }
      .footer .hero-font-2{
        font-size: 20px;
      }
        

}